@font-face {
    font-family: 'MuseoSans';
    src: url("https://files.vroomvroomvroom.com/assets/fonts/museosans/MuseoSans-500.eot");
    src: url("https://files.vroomvroomvroom.com/assets/fonts/museosans/MuseoSans-500.eot") format('embedded-opentype'),
        url("https://files.vroomvroomvroom.com/assets/fonts/museosans/MuseoSans-500.woff") format('woff'),
        url("https://files.vroomvroomvroom.com/assets/fonts/museosans/MuseoSans-500.woff2") format('woff2'),
        url("https://files.vroomvroomvroom.com/assets/fonts/museosans/MuseoSans-500.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}