$color-white: #FFFFFF;
$color-black: #333333;
$color-gray: #CCCCCC;
$color-orange: #F8A736;
$color-dark-orange: #EF8C28;
$color-light-orange: #FFD79F;
$color-blue: #00A2FF;

$width-100: 100%;
$width-50: 50%;

$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 991px;

$icon-chevron-right: "\F054";
$icon-loader: "\f110";